@import url(“https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap" rel="stylesheet");

body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: rgb(29, 161, 242);
    background-color: rgb(27, 40, 54);
}

#content {
    max-width: 1200px;
    margin: auto;
}

hr{
    height: 1px;
    background-color: rgb(27, 40, 54);
    border: 0;
    margin: 0 0 6% 0;
}

h3{
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

p{
    font-family: “Ubuntu”, sans-serif;
    font-size: 2rem !important;
    text-align: justify;
}

strong{
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 600 !important;
    color: #75baf2 !important;
}